/* 
    Document   : layout
    Created on : 01-Aug-2012, 00:00:00
    Author     : juancarlosfarah
    Description:
    Purpose of the stylesheet follows.
*/

/* Standard Template Elements---------------------------------- */

* { margin: 0; padding: 0; }

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Ropa Sans', sans-serif;
}

area:hover {
    cursor: pointer;
}

* {
    margin: 0;
}

/* CONTAINERS */

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
}

.container_hidden {
    display: none;
    visibility: hidden;
}

.header {
    width: 100%;
}

#top {
    visibility: hidden;
}

#bottom {
    visibility: visible;
}

/* LINKS */

.links_solara {
    color: #fff200;
    padding: 2px;
    line-height: 36px;
    margin: auto;
    font-size: 36px;
    font-weight: bold;
}

.links_solara a:link, a:active, a:visited {
    color: #fff200;
    opacity: 0.75;
    text-decoration: none;
}

.links_solara a:hover {
    color: #fff;
    text-decoration: underline;
}

.links_adentro-afuera {
    color: #6c343d;
    padding: 2px;
    line-height: 36px;
    margin: auto;
    font-size: 36px;
    font-weight: bold;

}

.links_adentro-afuera a:link, a:active, a:visited {
    color: #6c343d;
    opacity: 0.75;
    text-decoration: none;
}

.links_adentro-afuera a:hover {
    color: #000;
    text-decoration: underline;
}

/* TABLES */

.table_solara {
    text-align: center;
    border: 0px;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 20px;
}

.table_solara a:link, a:active, a:visited {
    color: #fff200;
    opacity: 0.75;
    text-decoration: none;
}

.table_solara a:hover {
    color: #fff;
    text-decoration: underline;
}

.table_adentro-afuera {
    text-align: center;
    border: 0px;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 20px;
}

.table_adentro-afuera a:link, a:active, a:visited {
    color: #6c343d;
    opacity: 0.75;
    text-decoration: none;
}

.table_adentro-afuera a:hover {
    color: #000;
    text-decoration: underline;
}

.table_icons {
    font-size: 14px;
    text-align: center;
    border: 0px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.table_icons img {
    vertical-align: middle;
}

.table_icons td.album img {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.table_icons a:hover {
    opacity: 0.5;
}

/* FOOTER */

.footer {
    width: 100%;
    margin: auto;
    text-align: center;
    max-height: 200px;
}

.footer_copyright {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
}

/* ALTERNATIVE SCREENS */

@media screen and (max-height: 640px) {
    .links_solara {
        color: #ffffff;
        padding: 0px;
        display: block;
        line-height: 30px;
        margin: auto;
        font-size: 28px;
        font-weight: bold;
    }
    .links_adentro-afuera {
        color: #ffffff;
        padding: 0px;
        display: block;
        line-height: 30px;
        margin: auto;
        font-size: 28px;
        font-weight: bold;
    }
}

@media screen and (max-height: 480px) {
    #bottom {
        visibility: hidden;
    }
    #top {
        visibility: visible;
    }
}

@media screen and (max-width: 600px) {
    .links_solara {
        color: #ffffff;
        padding: 0px;
        display: block;
        line-height: 30px;
        margin: auto;
        font-size: 28px;
        font-weight: bold;
    }
    .links_adentro-afuera {
        color: #ffffff;
        padding: 0px;
        display: block;
        line-height: 30px;
        margin: auto;
        font-size: 28px;
        font-weight: bold;
    }
}

@media screen and (max-width: 480px) {
    .table_adentro-afuera {
        text-align: center;
        border: 0px;
        padding: 0;
        width: 100%;
    }
    .table_solara {
        text-align: center;
        border: 0px;
        padding: 0;
        width: 100%;
    }
}